.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
}

.container > input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.container > p {
    margin: 0;
    font-size: 0.75rem;
    color: crimson;
}

.container > button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.container > button:disabled {
    background-color: #333333;
    color: #666666;
    cursor: not-allowed;
}