.container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: inherit;
    height: inherit;
    gap: 0.8rem;
}

.container > * *:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.container > h1 {
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.input-container {
    display: flex;
    gap: 10px;
}

.input-container > input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    outline: none;
}

.error-container {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 0.8rem;
    gap: 0.4rem;
}

.error-container > p {
    margin: 0;
}


.url {
    min-width: 20rem;
}

.port {
    max-width: 5rem;
}


.toggle {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 31px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle input:checked + .slider {
    background-color: #007bff;
}

.toggle input:checked + .slider:before {
    transform: translateX(20px);
}


.button-container {
    display: flex;
    gap: 10px;
}

.button-container > button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.success {
    color: #28a745;
    font-weight: 600;
}

